<html>
  <head>
    <title>newspod</title>
  </head>
  <body>
    <header>newspod</header>
    <main>
      {{range .}}
      <details>
        <summary><h3>{{.Title}}</h3></summary>
        <table>
          {{range .Entries}}
          <tr>
            <td>
              <a href="{{.Url}}">
                <time datetime="{{.MachineDate}}">{{.HumanDate}}</time>
              </a>
            </td>
            <td>{{.Title}}</td>
          </tr>
          {{end}}
        </table>
      </details>
      {{end}}
    </main>
  </body>
</html>
